@keyframes text-color {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0%;
	}
}

@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes hue-rotate {
	0% {
		filter: hue-rotate(0deg);
	}
	50% {
		filter: hue-rotate(180deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

@keyframes enter {
	0% {
		transform: translateY(24px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.container {
	position: relative;
	overflow: hidden;
	width: clamp(300px, 90vw, 850px);
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border-radius: 15px;
	padding: 24px;
	border: 1px solid #222;
	background-image: linear-gradient(160deg, rgb(255, 255, 227, 0.5), #ffffe3, rgb(255, 255, 227, 0.5));
	background-size: 300%;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	transition: box-shadow 0.3s ease;
	animation: text-color 3s ease alternate infinite;
}

.container:focus-within {
	box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
}

.title {
	letter-spacing: 1px;
	word-spacing: 2px;
	font-family: var(--font-red-hat);
	font-size: 1.5rem;
	color: var(--primary);
	margin-bottom: 12px;
	padding-bottom: 16px;
	width: 100%;
	border-bottom: 1px solid #222;
}

.innerContainer {
	width: 100%;
}

.textarea {
	padding: 8px 16px;
	font-family: var(--font-red-hat);
	font-size: 1rem;
	background-color: var(--secondary);
	border-radius: 10px;
	resize: none;
	border: #222 solid 1px;
	color: var(--primary);
	min-height: calc(1rem + 24px);
	width: 100%;
	max-width: 340px;

	field-sizing: content;
	min-width: 70%;
	height: auto;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

}

.textarea:focus {
	outline: none;
}

.textarea::-webkit-scrollbar {
	width: 8px; /* Width of the scrollbar */
}

.textarea::-webkit-scrollbar-track {
	background: #3b3b3b5b; /* Background color of the scrollbar track */
	border-radius: 10px;
	margin: 15px 0px;
}

.textarea::-webkit-scrollbar-thumb {
	background: #333; /* Scrollbar color */
	border-radius: 10px;
	min-height: 20px;
}

.textarea::-webkit-scrollbar-thumb:hover {
	background: #555; /* Color when hovered */
}

.select {
	-webkit-appearance: none; /* Remove default arrow in Safari */
	-moz-appearance: none; /* Remove default arrow in Firefox */
	appearance: none; /* Remove default arrow */
	padding: 8px 16px;
	font-family: var(--font-red-hat);
	font-size: 1rem;
	background-color: var(--secondary);
	border-radius: 10px;
	border: #222 solid 1px;
	color: var(--primary);
	width: 100%;
	min-height: calc(1rem + 24px);
	height: auto;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.select:focus {
	outline: none;
}

.selectContainer {
	width: 100%;
	max-width: 340px;
	position: relative;
}

.arrow {
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	pointer-events: none;
}

.subtitle {
	margin-bottom: 4px;
	color: var(--primary);
	font-weight: 600;
	font-size: 1rem;
	text-align: center;
}

.nameContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 12px;
	padding: 8px 16px;
}

.emailContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 12px;
	padding: 8px 16px;
}

.note {
	margin-top: 4px;
	color: #ff6666;
	font-weight: 600;
	font-size: 0.8rem;
	text-align: center;
}

.submit {
	z-index: 998;
	color: var(--primary);
	font-family: var(--font-red-hat);
	font-size: 1.2rem;
	font-weight: 500;
	background-color: var(--ternary);
	padding: 8px clamp(32px, 5vw, 124px);
	border-radius: 30px;
	white-space: nowrap;
	transition: transform 0.1s ease, background-color 0.1s, box-shadow 0.2s ease;
	border: #444 1px solid;
	width: fit-content;
	margin: 42px auto 8px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}

.loadingContainer {
	animation: enter 1s ease;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 80%;
	max-width: 464px;
	min-height: 128px;
	background-color: rgba(34, 34, 34, 0.5);
	backdrop-filter: blur(10px);
	border-radius: 20px;
	overflow: hidden;
	border: #222 1px solid;
	padding: 8px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.message {
	padding: 0px 16px;
	width: fit-content;
	font-family: var(--font-forum);
	color: transparent;
	font-weight: 900;
	font-size: 1.8rem;
	letter-spacing: 2px;
	text-align: center;
	
	background-image: linear-gradient(55deg, #6fc2fa, #00bbff, #91c7fa);
	background-size: 300%;
	animation: text-color 3s ease alternate infinite, hue-rotate 5s ease infinite;
	background-clip: text;
}

.messageError {
	animation: none;
	background-clip: none;
	background-image: none;
	background-color: #ff3535;
}


.messageAlt {
	margin-bottom: 16px;
	padding: px 16px;
	width: fit-content;
	color: #666;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
}

.messageLoading {
	width: fit-content;
	color: var(--secondary);
	font-weight: 500;
	font-size: 1rem;
	text-align: center;
}

.loadingCircle {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-image: linear-gradient(55deg, #6fc2fa, #00bbff, #91c7fa);
	background-size: 300%;
	animation: text-color 3s ease alternate infinite, hue-rotate 5s ease infinite;
	margin-bottom: 8px;
	position: relative;
	transition: filter 1s;
	z-index: 0;
}

.loadingCircle::before {
	content: '';
	position: absolute;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: rgba(102, 102, 102, 0.3);
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
	animation: scale 2s ease infinite;
}

.buttonLoading {
	padding: 16px;
	border-radius: 20px;
	width: 64px;
	height: 32px;
	border: 1px #222 solid;
	color: var(--ternary);
	background-color: var(--secondary);
	font-size: 1rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: background-color 0.1s, width 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
	.submit:hover {
		background-color: rgb(255, 255, 227, 0.5);
		transform: translateY(-2px);
		box-shadow: 5px 5px 0px #222;
	}

	.buttonLoading:hover {
		background-color: rgb(255, 255, 227, 0.5);
		width: 80px;
	}
}
